.html{
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

body{
    position: relative;
    height:100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


#search-box{
    max-width: 600px;
    margin: 3vh auto 20px;
}

#select-engine{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    transition: .2s;
    min-width: 50px;
    position: relative;
}

#select-engine:hover{
    background-color: rgba(0,0,0,0.3);
}

#dropdown{
    position: absolute;
    transform: translateX(150%) translateY(10%);      
}

#search-down{
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    border-radius: 23px;
    transition: .2s;
    transform: scaleY(0);
    height:auto;
    transform-origin: top center;
    min-height: 60px;
    margin:5px 0;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;

}

.search-engine-list{
    display: flex;
    align-items: center;
}

.search-engine{
    width:56px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: .2s;
    border-radius: 8px;
    padding: 6px 0;
    margin: 0 10px;
    position: relative;
    display: inline-block;
}

.search-engine:hover{
    background-color: rgba(1,1,1,0.1);
    box-shadow: inset 0 -1px -1px 5px aliceblue;
}

.engine-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    height:20px;
    width: 20px;
}

.engine-name{
    text-align: center;
    margin:0;
    font-size: 12px;
    color: aliceblue;
}

img{
    user-select: none;
}

form{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 23px;
    border:none;
    height: 45px;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(12px);
}


form:hover{
    background-color: rgba(0,0,0,0.6);
    transition: .3s;
}

#inputbox{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:aliceblue;
    user-select: none;
}

input[type="text"]{
    color:aliceblue
}

input:focus,textarea:focus{
    outline: none;
    border: none;
}

#search{
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    height:100%;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
    transition: .2s;
}

#search:hover{
    background-color: rgba(0,0,0,0.3);
}

#vertical-container{
    display: flex;
    flex-direction: column;
}

.wallpaper {
    position: absolute;
    right: 0;
    bottom: 0;
    transition: background .3s, transform .3s, height .3s;
    background-size: cover;
    background-position: 50%;
    z-index: -1;
    object-fit: cover;
}

#header-dummy{
    position: relative;
    height:18vh;
    margin-top: 0vh;
}

#footer-dummy{
    position: relative;
    margin-top: 0vh;
}

#time-box,#date-box{
    text-align: center;
}

.time{
    font-size: 70px;
    user-select: none;
    font-weight: 600;
    text-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    color:aliceblue
}

.date-info{
    user-select: none;
    color:aliceblue
}

.hitokoto{
    max-height: 60px;
    position: absolute;
    color:aliceblue;
    bottom:25px;
    left:50%;
    transform: translateX(-50%);
    user-select: none;
}